.app {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  padding-top: 60px; /* Adjusted for fixed navigation bar height */
}

.main-content {
  padding: 15% 15%; /* Added padding for main content */
}

/* Additional CSS for each page */
.account-page, .observer-page, .users-page {
  background-color: black;
  color: white;
}

.account-page h1, .observer-page h1, .users-page h1 {
  color: aquamarine;
}

/* Other styles... */
